.App {
  background-color: rgb(43, 43, 43);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header p {
  color: white;
}

.App-logo {
  height: 50px;
  width: auto;
  
  object-fit:contain;
}

.App-wrapper {
  flex: 1;
}
.App-links {
  
}

.App-footer{
  
}

.buttonLogout {
  height: 100%;
  width: 10%;
  border : none;
  
  color :black;
  background-color: rgb(255, 255, 0);
}

.buttonLogout:hover {
  background-color: aqua;
}

.App-footer p {
  margin : 0;
  background-color: rgb(43, 43, 43);
  color: white;
}

