.top {
    width: 100%;
    height: 70px;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
}
  
.topLeft,
.topRight {
    width: auto;
    
}

.App-logo {
    
    object-fit:contain;

}
.topCenter {
    flex: 6;
}
  
.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    color: white;
}

.Link {
    font-display: blue;
    color :chartreuse;
}
/*.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    color: white;
}*/